:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: #fefefe;
    background-color: #12181b;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #2A2A2A;
}

body::-webkit-scrollbar-thumb {
    background: #00F2C6;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

div.Documentation {
    margin: auto;
    width: 50vw
}

table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50vw;
}

#warning {
    color: #FF8200;
}

h2 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}


.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav-link #yes {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #005A5D;
}


.fa-secondary {
    color: #04FFE5;
}

.fa-tertiary {
    color: #B35A27;
}

.fa-quarternary {
    color: #EA9333;
}

span {
    color: #008D9D;
}

#yes {
    color: #008D9D
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg) scale(0.6);
}



span {
    color: #04FFE5;
}

table {
    background-color: #12181c;
    color: #E2DCD9;
}

td,
th {
    border: 1px solid #E2DCD9;
    padding: 1rem
}

table,
td,
tr,
th {
    border-collapse: collapse;

}

.desc {
    font-family: 'Consolas', 'Courier New', monospace;
}

.name {
    font-size: 1.25rem;
    font-weight: bolder;
}

.parent {

    border-bottom: 1px solid #dbe1e8;
    border-top: 1px solid #dbe1e8;
    width: 300px;

}

html {
    scroll-behavior: smooth;
}

a {
    color: #b8d9ff;
    text-decoration: none;
}



#invite {
    background-color: #7289DA;
    text-align: center;
    width: 20rem;
    padding: 10px;
    margin: 2.5rem;
    transition: background-color .3s ease;
}

#invite a {
    color: #ffffff;
}

#invite:hover {
    background-color: rgb(62, 78, 139)
}

#invite-container {
    width: 100vw;
    margin: auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.empha {
    font-weight: bold;
    font-size: larger;
    text-decoration: #04FFE5 underline;
    color: rgb(195, 255, 244);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    #invite-container {
        width: 100vw
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }

    #invite-container {
        width: 94.81vw;
        margin: auto;
    }
}